<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="index_page">
    <h2>Manage your interview test bank</h2>
    <a href="/login" class="ansBtn"> Login</a>
    <a href="/signup" class="signBtn"> Signup</a>
    <br>
    <form class="questionForm">
    <% if(question.length){
        for(var i = 0; i< question.length; i++) {%> 
          <h4><%= question[i].qtype%></h4> 
          <p><%= (i+1) %> <%= question[i].question%></p>
          <textarea name="answer" rows="5" cols="60" class="questionForm" placeholder="Sign up or your answer won't be saved">
         </textarea>
        <% }
         }else{ %>
             <tr>
                <td colspan="3">No questions</td>
             </tr>
          <% } %>
          <br>
          <input type = "submit" value = "submit" class="ansBtn"/>
        </form>       
</body>
</html>